{% extends 'oidc_client/client_list.html' %}

{% block title %}{% translate 'Create Client' %}{% endblock %}

{% block content_wrapper_header %}{% translate 'Create Client' %}{% endblock %}

{% block content_wrapper_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-info">
                    <!-- form start -->
                    <form method="post" action="{% url 'oidc_client:client-create' %}">
                        <div class="card-body">
                            {% include 'adminlte/_form.html' %}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info float-right">{% translate 'Submit' %}</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}