{% extends 'index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% translate 'FAQ' %}{% endblock %}

{% block content_wrapper_breadcrumb %}
    {{ block.super }}
    {% breadcrumb_for 'oidc_client:faq' %}{% trans "FAQ" %}{% endbreadcrumb_for %}
{% endblock %}

{% block content_wrapper_header %}{% translate 'FAQ' %}{% endblock %}

{% block content_wrapper_body %}
    <div class="row">
        <div class="col-12" id="accordion">
            {% for faq in faq_list %}
                <div class="card card-primary card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapse{{ forloop.counter }}">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                {{ forloop.counter }}. {{ faq.question }}
                            </h4>
                        </div>
                    </a>
                    <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}"
                         data-parent="#accordion">
                        <div class="card-body">
                            {{ faq.answer|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <p class="lead">
                <a href="mailto:gwlxgbfwq@pku.edu.cn">{% translate 'Contact us' %}</a>,
                {% translate 'if you found not the right anwser or you have a other question?' %}<br/>
            </p>
        </div>
    </div>
{% endblock %}