{% extends 'cmsadmin/users/user_list.html' %}

{% block title %}{% translate 'Update User Group' %}{% endblock %}

{% block extra_style %}
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
{% endblock %}

{% block content_wrapper_header %}{% translate 'Update User Group' %}{% endblock %}

{% block content_wrapper_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card card-info">
                    <!-- form start -->
                    <form method="post">
                        <div class="card-body">
                            {% include 'adminlte/_form.html' %}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info float-right">{% translate 'Submit' %}</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_javascript %}
    <!-- Bootstrap4 Duallistbox -->
    <script src="{% static 'adminlte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script>
        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox();
    </script>
{% endblock %}
