[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-oidc-provider = "*"
requests = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
mysqlclient = "*"
configparser = "*"
django-redis = "*"
django-bootstrap-breadcrumbs = "*"

[dev-packages]

[requires]
python_version = "3.8"
