[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-oidc-provider = "*"
requests = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
mysqlclient = "*"
configparser = "*"
django-redis = "*"
django-bootstrap-breadcrumbs = "*"
django-guardian = "*"
daphne = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
