{% extends 'cmsadmin/oidc_client/faq_list.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% translate 'Create FAQ' %}{% endblock %}

{% block content_wrapper_breadcrumb %}
    {{ block.super }}
    {% breadcrumb_for 'cmsadmin:oidc-client-faq-create' %}{% trans "Create FAQ" %}{% endbreadcrumb_for %}
{% endblock %}

{% block content_wrapper_header %}{% translate 'Create FAQ' %}{% endblock %}

{% block content_wrapper_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card card-info">
                    <!-- form start -->
                    <form method="post" action="{% url 'cmsadmin:oidc-client-faq-create' %}">
                        <div class="card-body">
                            {% include 'adminlte/_form.html' %}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info float-right">{% translate 'Submit' %}</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_body %}
    {% include 'cmsadmin/summernote/staticfiles.html' %}
    {% include 'cmsadmin/summernote/js.html' %}
{% endblock %}