{% extends 'registration/base.html' %}

{% block body_login_box %}
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">{{ title }}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <p>{% translate 'Your password was changed.' %}</p>

            <p class="mt-3 mb-1"><a href="{% url 'login' %}">{% translate 'Return to Sign In' %}</a></p>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}