{% extends 'index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% translate 'Client List' %}{% endblock %}

{% block content_wrapper_breadcrumb %}
    {{ block.super }}
    {% breadcrumb_for 'users:client-list' %}{% trans "Client List" %}{% endbreadcrumb_for %}
{% endblock %}

{% block content_wrapper_header %}{% translate 'Client List' %}{% endblock %}

{% block content_wrapper_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>{% translate 'Client Name' %}</th>
                                <th>{% translate 'Client ID' %}</th>
                                <th>{% translate 'Client Secret' %}</th>
                                <th>{% translate 'Client Type' %}</th>
                                <th>{% translate 'Reuse Consent?' %}</th>
                                <th>{% translate 'Operate' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in client_list %}
                                <tr>
                                    <td>{{ client.pk }}</td>
                                    <td>{{ client.name }}</td>
                                    <td>{{ client.client_id }}</td>
                                    <td>{{ client.client_secret }}</td>
                                    <td>{{ client.client_type }}</td>
                                    <td>{{ client.reuse_consent }}</td>
                                    <td>
                                        <a href="{% url 'users:client-update' client.pk %}">
                                            <button class="btn btn-info">{% translate 'Edit' %}</button>
                                        </a>
                                        <button class="btn btn-danger" disabled>{% translate 'Delete' %}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}