{% load user_helper %}
{% csrf_token %}
{% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}
                <span class="text-red">*</span>
            {% endif %}
        </label>
        {% if field.is_readonly %}
            <div class="readonly"
                 style="margin-top: 7px;">{{ field.contents }}</div>
        {% else %}
            {% if field.widget_type == "checkbox" %}
                {{ field }}
            {% elif field.widget_type == '' %}
            {% else %}
                {% form_mod field 'form-control' %}
            {% endif %}

        {% endif %}
        {% if field.field.help_text %}
            <div class="help-block">{{ field.field.help_text|safe }}</div>
        {% endif %}

        <div class="help-block text-red">
            {% if not field.fields|length_is:'1' and not field.is_readonly %}
                {{ field.errors }}{% endif %}

        </div>
    </div>
{% endfor %}