{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load user_helper %}
{% load cache %}

{% block title %}{% translate 'Home' %}{% endblock %}

{% block body_class %}sidebar-mini layout-navbar-fixed layout-fixed{% endblock body_class %}

{% block body %}

    <div class="wrapper">

        {% block nav_header %}

            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand bg-pku navbar-dark">

                {% block nav_header_left %}
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="{% url 'index' %}" class="nav-link">{% translate 'Home' %}</a>
                        </li>
                        {% cache None nav_top_links %}
                            {% for top_link in top_links %}
                                <li class="nav-item d-none d-sm-inline-block">
                                    <a href="{{ top_link.url }}" class="nav-link">{{ top_link.name }}</a>
                                </li>
                            {% endfor %}
                        {% endcache %}

                    </ul>
                {% endblock nav_header_left %}

                {% block nav_header_center %}{% endblock nav_header_center %}

                {% block nav_header_right %}
                    <!-- Right navbar links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                                <i class="fas fa-expand-arrows-alt"></i>
                            </a>
                        </li>
                        <!-- Language Menu -->
                        {% get_language_info for LANGUAGE_CODE as lang %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">{{ lang.name_local }}</a>
                            <form action="{% url 'set_language' %}" method="post">
                                <div class="dropdown-menu dropdown-menu-right p-0">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.path }}">
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    <div class="btn-group-vertical dropdown-item p-0">
                                        {% for language in languages %}
                                            <button class="btn btn-block btn-pku{% if LANGUAGE_CODE == language.code %} disabled{% endif %}"
                                                    type="submit" name="language" value="{{ language.code }}">
                                                <i class="flag-icon mr-2 {% if language.code == 'en' %}flag-icon-us{% elif language.code == 'zh-hans' %}flag-icon-cn{% endif %}"></i> {{ language.name_local }}
                                            </button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>
                        </li>
                        {% block nav_header_right_user_info %}
                            {% if request.user.is_authenticated %}
                                <li class="nav-item dropdown user-menu">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="true">
                                        <img src="{% avatar_url 128 %}" class="user-image img-circle elevation-2"
                                             alt="User Image">
                                        <span class="d-none d-md-inline">{% firstof request.user.get_full_name request.user.get_username %}</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-lg-right">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="{% avatar_url size=160 %}" class="img-circle elevation-2"
                                                 alt="User Image">
                                            <p>
                                                {% firstof request.user.get_short_name request.user.get_username %}
                                                - {{ request.user.get_is_teacher_display }}
                                                <small>Member since : {{ request.user.date_joined }}</small>
                                            </p>
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <a href="{% url 'password_change' %}" class="btn btn-default btn-flat">
                                                {% trans 'Change Password' %}
                                            </a>
                                            <a href="{% url 'logout' %}?next={{ request.path }}"
                                               class="btn btn-default btn-flat float-right">
                                                {% trans 'Sign Out' %}</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item d-none d-sm-inline-block">
                                    <a href="{% url 'login' %}?next={{ request.path }}"
                                       class="nav-link">{% translate 'Sign In' %}</a>
                                </li>
                            {% endif %}
                        {% endblock nav_header_right_user_info %}

                    </ul>
                {% endblock nav_header_right %}
            </nav>
            <!-- /.navbar -->

        {% endblock nav_header %}


        {% block nav_siderbar %}

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar  main-sidebar-custom sidebar-light-red elevation-4">
                {% block logo %}
                    <!-- Brand Logo -->
                    <a href="/" class="brand-link bg-pku">
                        <img src="{% static 'img/Openid.svg' %}" alt="Auth Logo" class="brand-image elevation-3">
                        <span class="brand-text font-weight-light text-white">{% translate 'Uniform Identity Auth' %}</span>
                    </a>
                {% endblock logo %}

                <!-- Sidebar -->
                <div class="sidebar">

                    <!-- Sidebar user (optional) -->
                    {% block user_panel %}
                        {% if request.user.is_authenticated %}
                            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                <div class="image">
                                    <a href="https://gravatar.com/emails/" title="{% translate 'Change Avatar' %}">
                                        <img src="{% avatar_url size=90 %}" class="img-circle elevation-2"
                                             alt="User Image">
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#"
                                       class="d-block">{% firstof request.user.get_full_name request.user.username %}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock user_panel %}

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                                 with font-awesome or any other icon font library -->

                            {% block nav_siderbar_links %}
                                {% if user.is_staff %}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon  fas fa-users-cog"></i>
                                            <p>{% translate 'Manage Site' %}<i class="right fas fa-angle-left"></i></p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="{% url 'admin:index' %}" class="nav-link">
                                                    <i class="nav-icon far fa-circle"></i>
                                                    <p>{% translate 'Admin Site' %}</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="nav-icon  far fa-circle"></i>
                                                    <p>{% translate 'Manage Announcement' %}<i
                                                            class="right fas fa-angle-left"></i></p>
                                                </a>
                                                <ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a href="{% url 'cmsadmin:announcement-list' %}"
                                                           class="nav-link">
                                                            <i class="nav-icon far fa-dot-circle"></i>
                                                            <p>{% translate 'Announcement List' %}</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="{% url 'cmsadmin:announcement-create' %}"
                                                           class="nav-link">
                                                            <i class="nav-icon far fa-dot-circle"></i>
                                                            <p>{% translate 'Create Announcement' %}</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="nav-icon  far fa-circle"></i>
                                                    <p>{% translate 'Manage TopLink' %}<i
                                                            class="right fas fa-angle-left"></i></p>
                                                </a>
                                                <ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a href="{% url 'cmsadmin:toplink-list' %}" class="nav-link">
                                                            <i class="nav-icon far fa-dot-circle"></i>
                                                            <p>{% translate 'TopLink List' %}</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="{% url 'cmsadmin:toplink-create' %}"
                                                           class="nav-link">
                                                            <i class="nav-icon far fa-dot-circle"></i>
                                                            <p>{% translate 'Create TopLink' %}</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a href="{% url 'users:user-profile' %}" class="nav-link">
                                        <i class="nav-icon fas fa-tachometer-alt"></i>
                                        <p>{% translate 'User Profile' %}</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fab fa-app-store-ios"></i>
                                        <p>
                                            {% translate 'My Client' %}
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="{% url 'oidc_client:client-list' %}" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>{% translate 'Client List' %}</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'oidc_client:client-create' %}" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>{% translate 'Create Client' %}</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'portal:admins' %}" class="nav-link">
                                        <i class="nav-icon fas fa-users-cog"></i>
                                        <p>{% translate 'Admins' %}</p>
                                    </a>
                                </li>
                            {% endblock nav_siderbar_links %}

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
                {% block nav_siderbar_custom %}{% endblock nav_siderbar_custom %}
            </aside>

        {% endblock nav_siderbar %}

        {% block content_wrapper %}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>{% block content_wrapper_header %}{% translate 'Home' %}{% endblock %}</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    {% block content_wrapper_breadcrumb %}
                                        {% breadcrumb_for 'users:index' %}{% translate 'Home' %}{% endbreadcrumb_for %}
                                    {% endblock %}
                                    {% render_breadcrumbs %}
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    {% block content_wrapper_body %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Default box -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">{% translate 'Announcement' %}</h3>
                                        </div>
                                        <div class="card-body">
                                            {% for announcement in announcements %}
                                                <div class="alert alert-{{ announcement.type }}">
                                                    <h5>
                                                        {% if announcement.type == 'danger' %}
                                                            <i class="icon fas fa-ban"></i>
                                                        {% elif announcement.type == 'info' %}
                                                            <i class="icon fas fa-info"></i>
                                                        {% elif announcement.type == 'warning' %}
                                                            <i class="icon fas fa-exclamation-triangle"></i>
                                                        {% else %}
                                                            <i class="icon fas fa-check"></i>
                                                        {% endif %}
                                                        {{ announcement.title|safe }}
                                                    </h5>
                                                    {{ announcement.content|safe }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                        </div>
                    {% endblock content_wrapper_body %}
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        {% endblock content_wrapper %}

        {% block nav_footer %}
            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    {% block nav_footer_right %}{% endblock %}
                </div>
                {% block nav_footer_left %}
                    {% block nav_footer_left_legal %}
                        <strong>Copyright &copy; {% now "Y" %}
                            <a href="{{ request.scheme }}://{{ request.get_host }}">{{ request.get_host }}</a>.
                        </strong> {% translate 'All rights reserved.' %}
                    {% endblock nav_footer_left_legal %}
                {% endblock nav_footer_left %}
            </footer>
        {% endblock nav_footer %}

    </div>
    <!-- ./wrapper -->
{% endblock %}
